# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Environment
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (frontend)
node_modules/
dist/
build/
.env
backend/.env
.env

# repo
backend/repos/